<div class="container">
  <h1>No WebGL</h1>

  <p>
    Please use a browser that supports WebGL:
  </p>
  <ul>
    <li>Chrome 18+</li>
    <li>Firefox 4+ (partial)</li>
    <li>IE 11+</li>
    <li>Opera 15+</li>
  </ul>
</div>
