@require "colours.css.styl";

body.globe-test {
  background: black;

  &.loading {
    background: black url("/globe/loading.gif") center center no-repeat;
  }
}

// Bootstrap Overrides
.btn-primary {
  background-color: green;
  border-color: darken(green, 10%);

  &:hover,
  &:focus {
    background-color: darken(green, 10%);
    border-color: darken(green, 20%);
  }

  &.active {
    background-color: darken(green, 20%);
    border-color: darken(green, 30%);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: lightgreen;

  &:hover,
  &:focus,
  &.active {
    color: white;
  }
}

// GlobeTest
.globe-test {
  .nav-bar {
    margin-bottom: 4px;
  }

  header {
    background-color: green;

    a {
      text-transform: uppercase;
    }
  }

  #main-nav {
    margin-top: 15px;
  }

  #application {
    position: relative;
  }

  nav#legend {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
  }

  #application,
  #globe {
    min-height: 750px;
  }

  #globe {
    height: 100%;
    width: 100%;
  }
}
