@require "colours.css.styl";

.globe-test {
  font-family: 'Source Sans Pro', sans-serif;
  background: black;

  &.loading {
    background: black url("/globe/loading.gif") center center no-repeat;
  }

  header {
    background-color: green;

    a {
      text-transform: uppercase;
    }

    #main-nav {
      margin-top: 15px;
    }
  }

  footer {
    color: white;
  }
}
